extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.py-2
    .container.d-flex.align-items-center
      a.navbar-brand(href='/') Meu Blog
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='/usuario') Cadastrar
          li.nav-item
            a.nav-link(href='/usuario/login') Entrar

  .container.mt-5
    h1.text-center.mb-4= title
    p.text-center.mb-4 Welcome to #{title}

    if !verificacao && message
      .alert.alert-danger.text-center= message

    if verificacao && message
      .alert.alert-success.text-center= message

    .row.justify-content-center
      .col-md-6.col-lg-5
        form(method="POST", action="/usuario")
          .mb-3
            label.form-label(for="nome") Nome
            input.form-control(type="text", name="nome", id="nome", required, placeholder="Digite seu nome")

          .mb-3
            label.form-label(for="email") Email
            input.form-control(type="email", name="email", id="email", required, placeholder="Digite seu email")

          .mb-3
            label.form-label(for="senha") Senha
            input.form-control(type="password", name="senha", id="senha", required, placeholder="Digite sua senha")

          .mb-3
            label.form-label(for="senha1") Confirmar Senha
            input.form-control(type="password", name="senha1", id="senha1", required, placeholder="Confirme sua senha")

          button.btn.btn-primary.w-100(type="submit") Cadastrar

          .mt-3.text-center
            a(href="/") Voltar