extends layout

block content
  h1= title
  p Welcome to #{title}

  if !verificacao && message
    p(style="color: red") #{message}

  if verificacao && message
    p(style="color: green") #{message}

  form(method="POST", action="/usuario")  // Ajuste a action para a rota correta
    div
      label(for="nome") Nome:
      input(type="text", name="nome", id="nome", required)

    div
      label(for="email") Email:
      input(type="email", name="email", id="email", required)

    div
      label(for="senha") Senha:
      input(type="password", name="senha", id="senha", required)

    div
      label(for="senha1") Confirmar Senha:
      input(type="password", name="senha1", id="senha1", required)

    div
      button(type="submit") Cadastrar

    a(href="/") Voltar 